<div class="modal modal-blur fade" id="massUpdateModal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mass items update</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="col-lg-6">
                <label for="unitcost" class="form-label"><strong> UnitCost: </strong></label>
                <input type="text" class="form-control" id="unitcost" name="sstreet2"><br>
            </div>
            <div class="col-lg-6">
                <label for="unitprice" class="form-label"><strong> UnitPrice: </strong></label>
                <input type="text" class="form-control" id="unitprice" name="sstreet2"><br>
            </div>
            <div class="col-lg-6">
                <label for="deliveryb" class="form-label"><strong> Delivery B: </strong></label>
                <input type="text" class="form-control" id="deliveryb" name="sstreet2"><br>
            </div>
        <div class="modal-footer">
          <button id = "saveNewPrices" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>