{% set foreign_model = (field.identity | to_model) %}
{% set fpk = foreign_model.pk_attr %}
{% set bb = field.name %}
<div class="{% if error %}{{ field.error_class }}{% endif %}">
    <select id="{{ field.id }}"
            name="{{ field.id }}"
            data-allow-clear="true"
            data-placeholder="{{ _('Select a %(label)s', label=field.label) }}"
            class="form-control {{ 'field-has-one' if not field.many else 'field-has-many' }}"
            data-pk="{{ fpk }}"
            data-url="{{ url_for(__name__ ~ ':api', identity=foreign_model.identity) }}"
            {% if data %}data-initial="{{ (data if field.multiple else [data]) |join(',') }}" {% endif %}
            {% if field.multiple %}multiple{% endif %}>

    </select>
    {% if field.help_text %}
        <small class="form-hint mt-2">{{ field.help_text }}</small>
    {% endif %}
</div>
{% include "forms/_error.html" %}
