  #example_wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_paginate,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_length {
    display: inline-block;
    min-width: max-content;
    margin-right: 0rem;
  }

  #activeRange {
    min-width: 120px;
  }

  .dataTables_wrapper .dataTables_filter {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
  }
  .dataTables_wrapper .top {
    position: relative;
    height: 30px;
  }

  table.dataTable span.highlight {
    background-color: #ffff88;
    border-radius: 0.28571429rem;
  }

  .table-responsive {
    position: relative;
    overflow-x: auto;
  }
  
  #example th.sticky-col,
  #example td.sticky-col {
    position: sticky;
    right: 0;
    z-index: 2;
    white-space: nowrap;
  }

  #example thead th.sticky-col {
    background-color: #f8f9fa;
  }

  #example tbody td.sticky-col {
    background-color: #f1f5f9;
  }

  #example tbody tr.selected .btn-inv {
    color: #fff !important;
  }

  table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
      background-color: #206bc4;
  }

   .fixed-width-button {
      width: 150px !important;
      
  }
  .fixed-width-button-status{
    width: 110px !important;
  }
   
  .dt-row{
      margin: 15px 0px 0px 0px;
  }



  div.dt-info {
  text-align: center;
}

div.dt-search {
  float: left;
}

div.dt-length {
  float: right;
}

div.dt-paging {
  clear: both;
  text-align: center;
  margin-top: 0.5em;
}

.modal-blur-bg {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s ease;
}

.rotate-90 {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}
.rotate-0 {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}


.scrollable-menu {
  width: 6.25rem;
}

.dropdown-item {
  width: 100%;
}


.newQutation-button{
  width: 200px !important;
}


.btn-no-hover:hover {
  background-color: inherit !important;
  color: inherit !important;
  box-shadow: none !important;
}


.btn-custom-light {
  --tblr-btn-border-color:transparent;
  --tblr-btn-hover-border-color:transparent;
  --tblr-btn-active-border-color:transparent;
  --tblr-btn-color:var(--tblr-light-fg);
  --tblr-btn-bg:var(--tblr-light);
  --tblr-btn-hover-color:var(--tblr-light-fg);
  --tblr-btn-hover-bg:rgba(var(--tblr-light-rgb), .8);
  --tblr-btn-active-color:var(--tblr-light-fg);
  --tblr-btn-active-bg:rgba(var(--tblr-light-rgb), .8);
  --tblr-btn-disabled-bg:var(--tblr-light);
  --tblr-btn-disabled-color:var(--tblr-light-fg);

 }

 .sm{
  min-height: calc(1.4285714286em + .25rem + calc(var(--tblr-border-width)* 2)) !important;
  padding: .125rem .25rem !important;
  font-size: .75rem !important;
  border-radius: 2px !important;
 }



.filter-dropdown{
  position: absolute !important;
  inset: 0px auto auto 0px !important;
  margin: 0px !important;
  transform: translate(0px, 34px) !important;
  padding: 7px !important;
}

.dropdown-menu.scrollable-menu {
  max-height: 208px;
  overflow-y: scroll;
}

.spinner-container{
  padding-top: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input.form-control {
  color: black !important;
  background-color: white !important;
}