{% extends "layout.html" %}
{% include "print.html" %}
{% include "forms/_remove.html" %}
{% include "forms/_convert.html" %}
{% block header %}
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 id="labelH1">CREATE NEW QUOTATION</h1>
   
  </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <form id="quotationForm">
        <div>
          <div class="dropdown mb-2 hidden" id="dbDropdown">
            <button class="btn dropdown-toggle shadow drowpdownlayout dbDropdown" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select DB...
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
              <!-- Dropdown items will be added dynamically here -->
            </div>
          </div>

          <div class="card shadow disabled" style="height: 1080px;" id="mainqtn" tabindex="-1">
            <div class="card-header" tabindex="-1">
              <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" tabindex="-1">
                <li class="nav-item" tabindex="-1">
                  <a href="#tabs-home-ex2" class="nav-link active" data-bs-toggle="tab" id="generaltab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-file">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                      <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                    </svg>
                    General</a>
                </li>
                <li class="nav-item" tabindex="-1">
                  <a href="#tabs-profile-ex2" class="nav-link" data-bs-toggle="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-truck">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                      <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                      <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
                    </svg>
                    Bill/Ship to</a>
                </li>
                <li class="nav-item ms-auto">
                  <button type="button" class="nav-link" id="CloseButton" onclick="CloseQuatation()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="m-0 icon icon-tabler icons-tabler-outline icon-tabler-x">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M18 6l-12 12" />
                      <path d="M6 6l12 12" />
                    </svg>
                  </button>
                </li>              
              </ul>
            </div>

            <div class="card-body">

              <div class="row row-deck row-cards custom-row-flex mb-4">
                <div class="col-md-6 col-lg-4">
                  <div class="card card-no-border-top shadow">
                    <div class="hr-text">
                      <h4><span>Quotation</span></h4>
                    </div>
                    <div class="card-body" style="height: 10rem">

                      <label for="qnumber" class="form-label"><strong> Quotation number: </strong></label>
                      <input type="number" class="form-control" id="qnumber" name="qnumber" min="0" placeholder="*New"
                      readonly disabled><br>


                      <label for="qdate" class="form-label"> <strong> Date: </strong> </label>
                      <input type="date" class="form-control" id="qdate" name="qdate">

                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-8">
                  <div class="card card-no-border-top shadow">
                    <div class="hr-text">
                      <h4><span>Customer</span></h4>
                    </div>
                    <div class="card-body" style="height: 14rem">

                      <div class="row row-cards col-10">
                        <div class="d-flex justify-content-between">
                          <div class="col-5">

                            <label for="bname" class="form-label required"> <strong> Business Name: </strong> </label>
                            <div class="drowpdownlayout advselect">
                              <div class="input-wrapper">
                                <input id="bnameInput" type="text" name="bnameInput" placeholder="Type to search..."
                                  class="form-control">
                                <span class="arrow"></span>
                              </div>
                            </div>
                            <br>
                          </div>
                          <div class="col-5">

                            <label for="acnum" class="form-label required"> <strong> Account Number: </strong> </label>
                            <div class="drowpdownlayout advselect">
                              <div class="input-wrapper">
                                <input id="acnumInput" type="text" name="myCountry" placeholder="Type to search..."
                                  class="form-control">
                                <span class="arrow"></span>
                              </div>
                            </div>

                            <br>
                          </div>

                        </div>


                      </div>

                      <br>
                      <div class="row" style="max-height: 60%;">
                        <div class="col-4">
                          <label for="srep" class="form-label required"> <strong> Sales Rep: </strong> </label>
                          <div class="dropdown" id="salesRepDropDown">
                            <button class="btn  dropdown-toggle drowpdownlayout dbDropdown" type="button"
                              id="srepDropdownButton" data-bs-toggle="dropdown" aria-expanded="false" id="srepDropdown">
                              Select Sales Rep
                            </button>
                            <ul class="dropdown-menu scrollable-menu" aria-labelledby="srepDropdown" id="srepdropdown-menu">
                              <!-- Dropdown items will be added dynamically here -->
                            </ul>
                          </div>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="tab-content m-0">
                <div class="tab-pane active show" id="tabs-home-ex2">



                  <div class="card shadow">
                    <div style="height: 500px; overflow: scroll;">
                      <table id="items-table"
                        class="table table-vcenter text-nowrap table-hover cell-border table-bordered">
                        <thead>
                          <tr>
                            <th>Qty</th>
                            <th>Description</th>
                            <th>UnitPrice</th>
                            <th>UnitCost</th>
                            <th>SKU</th>
                            <th>UPC</th>
                            <th>Stock</th>
                            <th>Total</th>                            
                            <th>Comment</th>
                            <th>TotalCost</th>
                            <th></th>
                            
                          </tr>
                        </thead>


                      </table>
                    </div>

                    <br>
                    <div>    
                      <div class="d-flex justify-content-center col-12">
                        <div class="row row-cards">
                            <div class="col-md-6 col-lg-12 d-flex align-items-center">
                                <div class="d-flex form-group">
                                    <input type="button" id="quickSearchButton" class="btn" value="[F2] UPC" data-id="2">
                                    <input type="text" class="form-control" name="quicksearch" id="quicksearch">
                                    <button type="button" id="browseItemsButton" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        [F3] Browse Items
                                    </button>
                                </div>
                                <label class="form-check form-check-inline align-items-center">
                                    <input class="form-check-input" type="checkbox" checked id="groupitems">
                                    <span class="form-check-label">Group Items</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>

                      <div>


                        <div class="d-flex flex-column align-items-end p-3 ">
                          <div class="me-3" id="totalitems">
                            Total items: <strong>0</strong>
                          </div>
                          <div class="me-3" id="totalqty">
                            Total Quantity: <strong>0</strong>
                          </div>

                          <div class="me-3" id="totalcost">
                            Total Cost: $<strong>0</strong>
                          </div>
                         
                          
                          <div class="me-3" id="totalprice">
                            Total Price: $<strong>0</strong>
                          </div>
                          <div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-profile-ex2">
                  <div class="row row-cards justify-content-between">
                    <div class="col-md-6 col-lg-4-1">
                      <div class="card card-no-border-top shadow">
                        <div class="hr-text">
                          <h4><span>Billing Address</span></h4>
                        </div>
                        <div class="card-body">

                          <label for="bstreet" class="form-label"><strong> Street: </strong></label>
                          <input type="text" class="form-control small-margin-buttom" id="bstreet" name="bstreet"
                            disabled value="">
                          <input type="text" class="form-control" id="bstreet2" name="bstreet2" disabled value=""><br>

                          <label for="bcity" class="form-label"><strong> City: </strong></label>
                          <input type="text" class="form-control" id="bcity" name="bcity" disabled value=""><br>

                          <label for="bstate" class="form-label"><strong> State: </strong></label>
                          <input type="text" class="form-control" id="bstate" name="bstate" disabled value=""><br>

                          <label for="bzip" class="form-label"><strong> Zip: </strong></label>
                          <input type="number" class="form-control" id="bzip" name="bzip" disabled value=""><br>

                          <label for="bcname" class="form-label"><strong> Contact Name: </strong></label>
                          <input type="text" class="form-control" id="bcname" name="bcname" disabled value=""><br>

                          <label for="bphone" class="form-label"><strong> Phone: </strong></label>
                          <input type="number" class="form-control" id="bphone" name="bphone" disabled value=""><br>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6 col-lg-1">
                      <div class="col-lg-12 d-flex flex-column align-items-center">
                        <button type="button" class="btn col-sm-4" id="copyButton" title="Same as Bill to">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="m-0 icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                          </svg>
                        </button>
                        <button type="button" class="btn col-sm-4" id="getShipfromCustomer"
                          title="Reset to customer's ship to">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="m-0 icon icon-tabler icons-tabler-outline icon-tabler-exchange">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M19 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M19 8v5a5 5 0 0 1 -5 5h-3l3 -3m0 6l-3 -3" />
                            <path d="M5 16v-5a5 5 0 0 1 5 -5h3l-3 -3m0 6l3 -3" />
                          </svg>
                        </button>
                        <button type="button" class="btn col-sm-4" id="resetShip" title="Remove ship to">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#bb1b1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="m-0 icon icon-tabler icons-tabler-outline icon-tabler-x">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M18 6l-12 12" />
                            <path d="M6 6l12 12" />
                          </svg>
                        </button>

                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4-1">
                      <div class="card card-no-border-top shadow">
                        <div class="hr-text">
                          <h4><span>Ship to</span></h4>
                        </div>
                        <div class="card-body">

                          <label for="shipName" class="form-label"><strong> Name: </strong></label>
                          <input type="text" class="form-control small-margin-buttom" id="shipName" name="sstreet">

                          <label for="sstreet" class="form-label"><strong> Street: </strong></label>
                          <input type="text" class="form-control small-margin-buttom" id="sstreet" name="sstreet">
                          <input type="text" class="form-control" id="sstreet2" name="sstreet2"><br>

                          <label for="scity" class="form-label"><strong> City: </strong></label>
                          <input type="text" class="form-control" id="scity" name="sstreet2"><br>

                          <label for="sstate" class="form-label"><strong> State: </strong></label>
                          <input type="text" class="form-control" id="sstate" name="sstate"><br>

                          <label for="szip" class="form-label"><strong> Zip: </strong></label>
                          <input type="number" class="form-control" id="szip" name="sstate"><br>

                          <label for="scname" class="form-label"><strong> Contact Name: </strong></label>
                          <input type="text" class="form-control" id="scname" name="scname"><br>

                          <label for="sphone" class="form-label"><strong> Phone: </strong></label>
                          <!-- <input type="number" class="form-control" id="sphone" name="sphone" ><br> -->
                          <input type="text" class="form-control" id="sphone" name="bphone" value="" data-mask="000-000-0000" data-mask-visible="true" placeholder="___-___-____"  autocomplete="off"><br>
                          
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6 col-lg-2 mt-0">
                      <div>
                        <label for="terms" class="form-label"> <strong> Terms: </strong> </label>
                        <div class="dropdown" id="termsDropDown">
                          <button class="btn dropdown-toggle drowpdownlayout dbDropdown drop-second-page" type="button"
                            id="terDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Terms
                          </button>
                          <ul class="dropdown-menu scrollable-menu" aria-labelledby="termsDropdown" id="termsdropdown-menu">
                            <!-- Dropdown items will be added dynamically here -->
                          </ul>
                          <input type="hidden" id="terms" name="terms">
                        </div>
                        <br>
                      </div>

                      <div>
                        <label for="shipvia" class="form-label"> <strong> Ship Via: </strong> </label>
                        <div class="dropdown" id='shipViaDropDown'>
                          <button class="btn dropdown-toggle drowpdownlayout dbDropdown drop-second-page" type="button"
                            id="shipviaDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Ship Via
                          </button>
                          <ul class="dropdown-menu scrollable-menu" aria-labelledby="shipviaDropdown" id="shipviadropdown-menu">
                            <!-- Dropdown items will be added dynamically here -->
                          </ul>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>


            
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-list mt-3" id="actionButtons"> 
              <button type="button" class="btn btn-danger" id="removeButton" onclick="DeleteModal()" disabled>Delete</button>                             
            </div>
            <div class="btn-list mt-3" id="actionButtons">              
              <button type="button" class="btn btn-warning" id="ConvertButton" onclick="ConvertQuotation()" disabled> Convert to Invoice</button>
              <button type="button" class="btn btn-primary" id="submitAndSaveButton" onclick="SaveAndCloseQuotation()"> Save and Close </button>
              <button type="button" class="btn btn-primary" id="submitButton" onclick="SaveQuotation()">Save</button>             
              <button type="button" class="btn btn-success" id="printButton" onclick="SaveAndPrintQuotation()">Save and Print</button>
        
            </div>
          </div>

      </form>

    </div>
  </div>



</div>


<div class="modal modal-blur fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog modal-dialog-centered modal-dialog-full" role="document">
    <div class="modal-content" style=" height: 97%;">
      <div class="modal-header">
        <h5 class="modal-title">Browse items</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="height: 71vh; overflow-y: scroll;">
          <table id="brouse-items-table" class="table table-vcenter text-nowrap table-hover cell-border table-bordered">            
            <thead>
              <th class="selected-column" style="width:5%">S</th>
              <th class="qty-column td-wrapper" style="width:5%">Qty</th>
              <th class="description-column" style="width:10%">Description</th>
              <th class="unit-price-column" style="width:5%">UnitPrice</th>
              <th class="unit-cost-column" style="width:5%">UnitCost</th>
              <th class="sku-column" style="width:10%">SKU</th>
              <th class="upc-column" style="width:10%">UPC</th>
              <th class="stock-column" style="width:10%">Stock</th>
              <th class="total-column">Total</th>
              <th class="total-cost-column display-none" >TotalCost</th>
              <th class="comment-column display-none" >Comment</th>
            </thead>
          </table>
        </div>
        <br>




      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div class="col-8 d-flex align-items-start justify-content-sm-start">
          <div class="col-3 d-flex align-items-center justify-content-between">
            <label for="lookin" class="form-label m-0 mx-lg-2"> <strong> Look in: </strong> </label>
            <div class="dropdown">
              <button class="btn dropdown-toggle lookinDropdown drowpdownlayout" type="button" id="lookinDropdown"
                data-bs-toggle="dropdown" aria-expanded="false" data-value="1" tabindex="-1" >
                SKU
              </button>
              <ul class="dropdown-menu scrollable-menu" aria-labelledby="lookinDropdown">
                <li><a class="dropdown-item" data-value="1">SKU</a></li>
                <li><a class="dropdown-item" data-value="2">UPC</a></li>
                <li><a class="dropdown-item" data-value="3">Decription</a></li>
              </ul>
            </div>
          </div>
          <div class="col-9 d-flex align-items-center justify-content-between">
            <label for="modalsearch" class="form-label m-0 mx-lg-2 col-1-1"> <strong> for value: </strong> </label>
            <input type="text" class="form-control col-10" id="modalsearch" name="modalsearch" placeholder="Search…">
          </div>
        </div>
        <div class="col-2 d-flex align-items-start justify-content-sm-start">
          <button class="btn btn-primary" id="addItemButton" tabindex="-1">Add Items</button>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="QuotationID" id="QuotationID">
<input type="hidden" name="InvoiceID" id="InvoiceID">


{% endblock %}


<!-- css block -->
{% block head_css %}
{{ super() }}


{% for link in model._additional_css_links(request, "CREATE" | ra) %}
<link rel="stylesheet" href="{{ link }}">
{% endfor %}


<style>
  .is-invalid .select2-selection {
    border-color: #d63939 !important;
  }

  .custom-card-header {
    padding-top: 5%;
    padding-bottom: 5%;
  }
</style>



<link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/dt.min.css') }}" />
<link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/dt.min.css') }}" />
<link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/toastr.min.css') }}" />



{% for link in model._additional_css_links(request, "LIST" | ra) %}
<link rel="stylesheet" href="{{ link }}">
{% endfor %}
<style>

td{
  padding-top: 0.1875rem !important;
  padding-bottom: 0.1875rem !important;
}

.dropdown-menu.scrollable-menu {
  max-height: 208px; 
  overflow-y: scroll; 
}


.dropdown-menu.scrollable-menu:not(.show) {
  display: none;
}
  
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
  }

  table.dataTable span.highlight {
    background-color: #ffff88;
    border-radius: 0.28571429rem;
  }

  table.dataTable span.column_highlight {
    background-color: #ffcc99;
    border-radius: 0.28571429rem;
  }

  table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: #206bc4;
  }

  table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .custom-row-flex {
    display: flex;
    justify-content: space-between;
  }

  .total-column {
    font-weight: bold;
  }

  .lookinDropdown {
    width: 116px;
  }

  .dbDropdown {
    width: 200px !important;
  }

  .drowpdownlayout {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .hidden {
    display: none;
  }

  .td-wrapper {
    padding: 0 !important;
    text-align: center !important;
  }

  .form-control-table {
    width: 5.753125rem;
    border: none !important;
    border-radius: 0 !important;
    font-size: inherit !important;
    padding: 0 0 0 .4375rem !important;
    height: 2.25rem !important;
    text-align: center !important;
  }

  .drop-second-page {
    width: 9.5625rem !important;
  }

  .small-margin-buttom {
    margin-bottom: 0.1875rem;
  }

  .unsetbackground {
    color: unset !important;
    background-color: inherit;
  }

  .unsetbackground:focus {
    background-color: unset;
  }

  .advselect {
    position: relative;
    display: inline-block;
  }

  .selectopened {}

  .input-wrapper {
    position: relative;
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .arrow:after {
    content: "";
    display: inline-block;
    vertical-align: 0.306em;
    width: 0.36em;
    height: 0.36em;
    border-bottom: 1px var(--tblr-border-style);
    border-left: 1px var(--tblr-border-style);
    margin-right: 0.1em;
    margin-left: 0.4em;
    transform: rotate(-45deg);
  }

  .width100 {
    width: 100% !important;
  }

  .display-none{
    display: none;
  }
  .invalid-input {
    border: 0.5px solid red;
  }

  .form-group {
    margin-right: 15px;
}

.form-group input {
    margin-right: 5px;
}

.form-check-inline {
    margin-bottom: 0 !important;
}

.align-items-center {
    align-items: center;
}

.btn:hover {
  /* border: red 1px solid; */

}
.btn:hover .icon-tabler-trash {
  /* stroke: red; */
  animation: shake-keyframes 1.8s ease-in-out infinite;
}

@keyframes shake-keyframes {
  0% {
        transform: scaleX(1)
    }

    10%,5% {
        transform: scale3d(.9,.9,.9) rotate(-5deg)
    }

    15%,25%,35%,45% {
        transform: scale3d(1.1,1.1,1.1) rotate(5deg)
    }

    20%,30%,40% {
        transform: scale3d(1.1,1.1,1.1) rotate(-5deg)
    }

    50% {
        transform: scaleX(1)
    }
}


</style>


{% endblock %}


{% block script %}
{{ super() }}
{% for link in model._additional_js_links(request, "CREATE" | ra) %}
<script type="text/javascript" src="{{ link }}"></script>
{% endfor %}
<script>
  var DB = sessionStorage.getItem('modelDop');
  var newUrl = {{ url_for(__name__ ~ ':list', identity = 'SourceDB')| tojson | safe}};
  var newUrl = {{ url_for(__name__ ~ ':SourceDB', identity = 'quotations1_tbl')| tojson | safe}};

  var db_list = $.ajax({
    url: newUrl,
    type: "get",
    traditional: true,
    dataType: "json",
    success: function (data, status, xhr) {
      db_list = data.items;
    },
  });
  document.addEventListener("DOMContentLoaded", function () {
    inDataTable();
  });


</script>



<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/form.js') }}"></script>
<script src="https://code.jquery.com/jquery-1.12.2.min.js"
  integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>



<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/moment.min.js') }}"></script>
{% if get_locale() != 'en' %}
<script type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='i18n/momentjs/' ~ get_locale() ~ '.js') }}"></script>
{% endif %}
{% if 'pdf' in model.export_types %}
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/vfs_fonts.js') }}"></script>
{% endif %}



<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.checkboxes.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/CellEdit.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/toastr.min.js') }}"></script>


<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>



<script type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.searchHighlight.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/utils.js') }}"></script>
<script>var model = {{ __js_model__ | tojson | safe}};</script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/render_new_quotation.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/quotation_service.js') }}"></script>
{% if custom_render_js(request) %}
<script type="text/javascript" src="{{ custom_render_js(request) }}"></script>
{% endif %}
{% for link in model._additional_js_links(request, "LIST" | ra) %}
<script type="text/javascript" src="{{ link }}"></script>
{% endfor %}
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/render_new_list.js') }}"></script>


{% endblock %}