{% extends "layout.html" %}
{% include "print.html" %}
{% include "forms/_remove.html" %}
{% include "forms/_commit.html" %}
{% block header %}
<div class="d-flex justify-content-between align-items-center">
    <h1>PURCHASE ORDERS</h1>


</div>

<div class="col-12">

    <div class="items-wrapper">
        <div class="col-sm-6 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <label for="choicedb_source" class="antialiased"> <strong>Select source DB Purchase Orders: </strong>
                    </label>
                    <div class="items-head mt-2">
                        <div class="dropdown mb-2 hidden" id="dbDropdown">
                            <button class="btn dropdown-toggle fixed-width-button justify-content-between justify-content-start" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select DB...
                            </button>
                            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
                                <!-- Dropdown items will be added dynamically here -->
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>



        <div class="items-content col-11">


                    <table id="PO-table-list"
                        class="table table-vcenter text-nowrap table-hover cell-border table-bordered
                         cell-border compact stripe mt-2 datatable" style="font-size: 12px;">
                        <thead>
                            <th style="width: 2%;max-width: 2%;"></th>
                            <th>PONumber</th>
                            <th>PODate</th>
                            <th>Supplier</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th></th>
                        </thead>
                    </table>
        </div>
    </div>
</div>






<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

{% endblock %}
{% block modal %}
{% include "modals/loading.html" %}
{% include "modals/error.html" %}
{% include "modals/actions.html" %}
{% endblock %}


{% block content %}


{% endblock %}
{% block head_css %}
{{ super() }}
{% for link in model._additional_css_links(request, "CREATE" | ra) %}
<link rel="stylesheet" href="{{ link }}">
{% endfor %}
<style>
    .is-invalid .select2-selection {
        border-color: #d63939 !important;
    }
</style>
<link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/dt.min.css') }}" />
<link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/dt.checkboxes.css') }}" />
<link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/toastr.min.css') }}" />
<link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/style.css') }}" />
<!-- <link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/main.css') }}" /> -->

{% for link in model._additional_css_links(request, "LIST" | ra) %}
<link rel="stylesheet" href="{{ link }}">
{% endfor %}
<style>
    /* div.dataTables_wrapper div.dataTables_info {
        padding-top: 0;
    } */

    table.dataTable span.highlight {
        background-color: #ffff88;
        border-radius: 0.28571429rem;
    }

    table.dataTable span.column_highlight {
        background-color: #ffcc99;
        border-radius: 0.28571429rem;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
    table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
        background-color: #206bc4;
    }


</style>


{% endblock %}
{% block script %}
{{ super() }}


<script>
    var DB = sessionStorage.getItem('modelDop');
    var model = {{ __js_model__ | tojson | safe}};
    var SourceDBUrl = {{ url_for(__name__ ~ ':SourceDB', identity = 'purchaseorder')| tojson | safe}};
    var newUrl = {{ url_for(__name__ ~ ':list', identity = 'createpurchaseorder')| tojson | safe}};

    var db_list = $.ajax({
      url: newUrl,
      type: "get",
      traditional: true,
      dataType: "json",
      success: function (data, status, xhr) {
        db_list = data.items;
      },
    });



  </script>

{% for link in model._additional_js_links(request, "CREATE" | ra) %}
<script type="text/javascript" src="{{ link }}"></script>
{% endfor %}


<script src="https://code.jquery.com/jquery-1.12.2.min.js"
  integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/moment.min.js') }}"></script>
{% if get_locale() != 'en' %}
<script type="text/javascript"
    src="{{ url_for(__name__ ~ ':statics', path='i18n/momentjs/' ~ get_locale() ~ '.js') }}"></script>
{% endif %}
{% if 'pdf' in model.export_types %}
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/vfs_fonts.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.checkboxes.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.searchHighlight.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/toastr.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/common/common.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/purchase_order/purchase_orders_list.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/purchase_order/purchase_order_service.js') }}"></script>



{% if custom_render_js(request) %}
<script type="text/javascript" src="{{ custom_render_js(request) }}"></script>
{% endif %}
{% for link in model._additional_js_links(request, "LIST" | ra) %}
<script type="text/javascript" src="{{ link }}"></script>
{% endfor %}






{% endblock %}