<div class="modal modal-blur fade" id="printModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-full" role="document">
      <div class="modal-content" style=" height: 97%;">
        <div class="modal-header">
          <h5 class="modal-title">Print</h5>
          <button id="closePrint" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="height: 71vh; overflow-y: scroll;">
              <div id="pdfFile">
                  <embed id="pdfViewer" width="800" height="600" style ='width: 100%;'></embed>
              </div>
          </div>
        </div>     
      </div>
    </div>
  </div>